<main>
  <section class="landing">
    <div class="jumbotron" @fade>
      <h1 class="display-4 ml-4">Home</h1>
      <p class="lead ml-4">
        This is a simple task for storexweb company.
      </p>
      <hr class="my-4" />
    </div>
  </section>
</main>
<!------------------welcome intro start ----------->
<div class="intro">
  <div class="intro-text">
    <h1 class="hide">
      <span class="text">Welcome</span>
    </h1>
    <h1 class="hide">
      <span class="text">{{firstName}} {{lastName}}</span>  
    </h1>
  </div>
</div>
<!------------------welcome intro End ----------->
<div class="slider"></div>